@model Form.Models.User

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        <label for="Username">Username:</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group">
        <label for="Gender">Gender:</label>
        <div>
            <label>
                <input type="radio" name="Gender" value="Male" /> Male
            </label>
            <label>
                <input type="radio" name="Gender" value="Female" /> Female
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.Gender)
    </div>
    <br />
    <div class="form-group">
        <label for="Professions">Profession:</label>
        <div>
            <label>
                <input type="checkbox" name="Professions" value="Teacher" /> Teacher
            </label>
            <label>
                <input type="checkbox" name="Professions" value="Student" /> Student
            </label>
            <label>
                <input type="checkbox" name="Professions" value="Business" /> Business
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.Professions)
    </div>
    <br />
    <div class="form-group">
        <label for="Dob">Date of Birth:</label>
        @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Dob)
    </div>

    <div class="form-group">
        <label for="StudentId">Student ID:</label>
        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentId)
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <input type="submit" class="btn btn-success" value="Submit" />
}
